{% extends "base.html" %}

{% block body %}
<div class="bg-light">
    <div class="container py-3">
        <form class="row" method="post" enctype="multipart/form-data">
            <label for="reviewText">Enter review text:</label><br>
            <input type="text" id="reviewText" name="reviewText" value="Enter review text."><br>
            {% csrf_token %}
            <button type="submit" name="Submit" class="mt-2 btn btn-dark rounded mx-auto d-block"> Submit</button>
        </form>
    </div>
</div>


{% endblock %}